.menu{
    float: right;
    /* Типографіка */
    font-family: var(--font-family-h);
    font-size: var(--font-size-h2);
    padding-top: 15px;
    padding-left: 25px;
}
.menu ul li{
    display: inline-block;
    padding-right: 3px;
    list-style: none;
}
.menu ul li a{
    color: var(--color-dark-purple);
}
.menu ul li a:hover{
    color:var(--color-purple);
    text-decoration: underline;
}
.position_img_menu{
    background: url(../img/menu.png) no-repeat;
    background-size: cover;
}